.content-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.content-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color: #007bff; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    margin-bottom: 5px;
}

.button-text {
    font-size: 14px;
    text-align: center;
}

/* Using CSS instead of the inline style from the array*/
.content-button:nth-child(1) .circle {
    background-color: white;
}

.content-button:nth-child(2) .circle {
    background-color: red;
}

.content-button:nth-child(3) .circle {
    background-color: orange;
}

.content-button:nth-child(4) .circle {
    background-color: green;
}

.content-button:nth-child(5) .circle {
    background-color: blue;
}

.content-button:nth-child(6) .circle {
    background-color: violet;
}

.content-button:nth-child(7) .circle {
    background-color: pink;
}
