.nav-bar-container{
    margin: 10px 0;
}

#logout-styling, .nav-bar-account{
    cursor: pointer;
}

.nav-link {
    color: grey;
    text-decoration: none;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: white;
  }

  .nav-link.active {
    color: white;
  }


  .dropdown-content .nav-link {
    color: grey;
    text-decoration: none;
  }

  .dropdown-content .nav-link:hover,
  .dropdown-content .nav-link:focus {
    color: white;
  }

  .dropdown-content .nav-link.active {
    color: white;
  }
