.nav-bar-container {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95vh;
  position: fixed;
  left: 27%;
}

.nav-bar-container h3,
.nav-bar-container .nav-bar-home,
.nav-bar-container .nav-bar-explore,
.nav-bar-container .nav-bar-account,
.nav-bar-container .dropdown-options {
  font-size: 15px;
}

#logout-styling,
.nav-bar-account {
  cursor: pointer;
}

.nav-link {
  color: grey;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: white;
}

.nav-link.active {
  color: white;
}


.dropdown-content .nav-link {
  color: grey;
  text-decoration: none;
}

.dropdown-content .nav-link:hover,
.dropdown-content .nav-link:focus {
  color: white;
}

.dropdown-content .nav-link.active {
  color: white;
}
