.delete-comment-container2 {
    position: relative;
    display: flex;
    align-items: center;
  }

  .delete-confirmation2 {
    position: absolute;
    transform: translateX(-88%);
    background-color: #222222;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .confirm-icon2, .cancel-icon2 {
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.5em;
  }

  .confirm-icon2 {
    color: green;
  }

  .cancel-icon2 {
    color: red;
  }

  .delete-button2 {
    cursor: pointer;
  }
