.auth-form-modal-container {
    position: fixed;
    bottom: 0;
    width: 150%;
    height: 20%;
    background-color: #7C5CFF;
    color: white;
    text-align: center;
    padding: 5px 0;
    transform: translateX(-31%);
}

.auth-form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style-type: none;
}

.auth-form-modal-container .sign-up-btn,
.auth-form-modal-container .log-in-btn {
    background-color: black;
    color: white;
    width: 150px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.auth-form-modal-container .log-in-btn {
    background-color: #e6e6fa;
    color: black;
}

.email-check-step {
    background-color: #7C5CFF;
    color: white;
    height: 250px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-check-step> :first-child {
    font-weight: bold;
    font-size: 2em;
}

.email-check-step button {
    padding: 5px;
    margin: 15px;
}

.password-check-step {
    background-color: #7C5CFF;
    color: white;
    height: 250px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-check-step> :first-child {
    font-weight: bold;
    font-size: 2em;
}

.password-check-step button {
    padding: 5px;
    margin: 15px;
}

.sign-up-step {
    background-color: #7C5CFF;
    color: white;
    height: 330px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-step> :first-child {
    font-weight: bold;
    font-size: 2em;
}

.sign-up-step input {
    margin-top: 8px;
}

.sign-up-step> :not(:first-child) {
    margin: 0;
    margin-bottom: 8px;
}

.sign-up-step> :last-child {
    padding: 5px;
    margin-top: 8px;
}

.get-username-step {
    background-color: #7C5CFF;
    color: white;
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get-username-step> :first-child {
    font-weight: bold;
    font-size: 2em;
}

.get-username-step>:not(:first-child) {
    margin: 0;
    margin-bottom: 8px;
    max-width: 80%;
}

.get-username-step input {
    margin-top: 15px;
}

.get-username-step> :last-child {
    margin-top: 10px;
}

.auth-form-modal-container>a:last-child {
    margin: 0 auto;
    color: white;
    padding: 15px;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}
