.main-content{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    color: gray;
}

#following-ul{
    padding: 0;
    list-style-type: none;
}

#user-search-div button{
    margin-left: 10px;
}

#username_input{
    background-color: white;
    color: black;
    border-radius: 5px;
}

.following_tile{
    box-sizing: border-box;
    background-color: white;
    margin: 10px 0;
    border-radius: 10px;
    padding: 5px;
    border: solid 2px #2b2b2b;
}

#tile-unfollow-btn{
    border-radius: 5px;
    background-color: white;
    color: #00B8F9;
    border: none;
}

#tile-unfollow-btn:hover{
    cursor: pointer;
}

.btn-div{
    padding: 5px;
}

#follow-btn{
    border-radius: 5px;
    background-color: #00B8F9;
    color: black; 
    border: none;
}

#disabled{
    background-color: #2b2b2b;
    border: solid 2px #2b2b2b;
    color: black;
    border-radius: 5px;
}


#follow-btn:hover{
    cursor: pointer;
    color: white;
}

#tile-username{
    color: black;
}