.main-content{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    color: gray;
}

#following-ul{
    padding: 0;
    list-style-type: none;
}

#user-search-div button{
    margin-left: 5px;
}