/* TODO: Add sitewide styles */
html{
    display: flex;
    margin: 0 5%;
    box-sizing: border-box;
    justify-content: center;
    width: minmax(500px, 1000px)
}

body{
    background-color: #001123;
    width: 100%;
    margin: 0 5%;
}

h1{
    color: whitesmoke
}
#root{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 20% minmax(50%, 50%) 30%;
    grid-template-rows: 100%;
    grid-template-areas: 'nav main side';
    justify-items: left;
    align-items: flex-start;
    width: 100%;
    margin: 0 5%;
}

.site-container{
    width: 100%;
}

.root > div{
    background-color: white;
    padding: 10px;
}

ul.post-container{
    list-style-type: none;
    margin: 0;
}

.post{
    grid-area: main;
    place-self: center;
    width: 100%;
    height: auto;
    margin: 50px 0;
}

.logo{
    align-items: flex-end;
    /* position: relative;
    right: -25px; */
    padding: 0;
    margin: 0;
    width: min-content;
    height: min-content;
    align-self: center;
}

.nav-bar, #custom-ul{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

#custom-ul a, #custom-ul li{
    text-decoration: none;
    margin: 0;
    list-style-type: none;
    color: whitesmoke;
}

.logo h3{
    font-family: serif;
    font-weight: bolder;
    font-size: 24px;
}

#grouped{
    display: flex;
    font-size: 12px;
    padding: 5px 0;
}

#grouped div{
    margin-left: 10px;
}

ul a:visited {
    color: inherit;
}

ul a:hover, .nav-bar-account:hover, .dropdown-options:hover{
    color: white;
}

/* .site-container{
    grid-area: side;
} */  

.logo-container{
grid-area: nav;
height: min-content;
}

.dropdown-content{
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-bar-sizing{
    padding: 5px 0;
}

ul.dropdown-content{
    font-size: 12px;
}

#user-nav-ul, #custom-ul a, #custom-ul li{
    display: flex;
    flex-direction: column;
    grid-area: nav;
    padding: 0;
    list-style-type: none;
    margin: 0;
}
.nav-bar-options{
    grid-area: nav;
}

.nav-bar-container{
    grid-area: nav;
}

.main-content{
    grid-area: main;
}

.explore{
    grid-area: main;
}

.likes-container, .center-container{
    grid-area: main;
    place-self: center;
    padding: 0;
    margin: 0;
    width: fit-content;
    /* justify-self: flex-start;
    align-self: flex-start; */
}

/* .likes-container{
    width: min-content
} */

* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/* div {
    outline: 1px solid #036cdb !important;
} */
