.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: calc(100vw - 600px);
  margin-left: 250px;
  padding-right: 20px;
}

.likes-container {
  height: 100%;
  width: 540px;
}

.post {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.post-username {
  border-bottom: 1px solid rgb(93, 93, 93);
  text-decoration: none;
}

.liked {
  color: red;
  cursor: pointer;
}

.un-liked {
  color:black;
  cursor: pointer;
}

/* .post-title, .post-body{
  text-decoration: none;
  color: black;
} */

.likes-post-navlink {
  text-decoration: none;
  color: black;
}

#user-div{
  display: flex;
}